<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>control.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartControl</servlet-name>
        <servlet-class>control.StartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopMainServlet</servlet-name>
        <servlet-class>control.ShopMainControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>control.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickShopControl</servlet-name>
        <servlet-class>control.QuickShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductControl</servlet-name>
        <servlet-class>control.SortProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoSearchControl</servlet-name>
        <servlet-class>control.AutoSearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductControl</servlet-name>
        <servlet-class>control.SearchProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>control.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>control.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>control.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>control.LoadControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            start
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>StartControl</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopMainServlet</servlet-name>
        <url-pattern>/shopmain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickShopControl</servlet-name>
        <url-pattern>/quickshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductControl</servlet-name>
        <url-pattern>/sortproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoSearchControl</servlet-name>
        <url-pattern>/autosearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductControl</servlet-name>
        <url-pattern>/searchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
